.styledLink,
.goBackButton,
.triggerContainer {
  border: none;
  background: transparent;
  outline: transparent;
}

.hideArrow svg {
  display: none;
}

.triggerContainer {
  display: flex;
  align-items: center;
  padding: unset;
  height: 100%;
}

.triggerContainer::after {
  content: 'Produse';
  font-size: 1rem;
  line-height: 1;
}

.triggerButtonIcon {
  margin-right: 0.5rem;
  display: block;
}

.menuContainerNav {
  border: none;
  border-radius: 0 0 0.5em 0.5em;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  height: 33.75rem;
  z-index: 100;
}

.menuContainer {
  min-height: 33.75rem;
  min-width: 15rem;
  max-width: 15rem;
  padding-bottom: 0;
  border: unset;
}

.submenuContainer {
  max-height: 33.75rem;
  padding: 0;
  overflow: unset;
}

.submenuList {
  columns: 12.5rem 3;
  column-fill: balance;
}

.submenuList > .submenuItem {
  max-width: 12.5rem;
  break-inside: avoid;
  margin-bottom: 1.5rem;
}

.departmentActive {
  background-color: #fff;
}

.menuItem .styledLinkContainer {
  padding: unset;
}

.menuItem .styledLink {
  height: 2.8125rem;
  display: flex;
}

.styledLinkContent {
  width: 100%;
}

.menuItem .styledLinkText {
  line-height: 1;
  width: 100%;
  justify-content: flex-start;
}

.menuItemIcon {
  max-width: 1.25rem;
  max-height: 1.25rem;
  margin-right: 0.5rem;
  display: block;
}

.departmentsTitle,
.submenuContainerTitle {
  display: none;
}

.menuItemBadge {
  background-color: #fcb116;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.125rem 0.3125rem;
  font-size: 0.625rem;
  font-weight: bold;
  margin-top: 0.0625rem;
  margin-left: 0.3125rem;
  display: block;
  line-height: 1;
}

.departmentActive .styledLink,
.departmentActive .styledLink:hover {
  font-weight: bold;
}

.submenuItem--isClosed .seeAllLinkContainer {
  display: none;
}

.submenuItem--isClosed .styledLinkContainer .styledLink:first-child:hover {
  text-decoration: underline;
  color: #fcb116;
}

.submenuItem .styledLinkIconContainer {
  display: none;
}

.seeAllLink:hover {
  color: #e95c48;
}

.departmentBannerContainer {
  width: 25%;
}

.departmentBanner {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.submenuItem .styledLinkText {
  line-height: 1rem;
  align-items: flex-start;
}

.goBackButton {
  padding: 1rem 0;
}

.goBackButtonText {
  line-height: 1;
}

.menuItemVertical {
  border: unset;
}

.menuItemVertical .styledLinkText {
  line-height: 1;
  width: 100%;
  justify-content: flex-start;
}

.widthAuto {
  width: auto;
}

.darkBackground {
  background-color: rgb(0 0 0 / 10%);
}

.backgroundShadow {
  box-shadow: 0px 2000px 0px 2000px rgba(0, 0, 0, 0.25);
}

:global(.vtex-flex-layout-0-x-flexColChild--megamenuTrigger) {
  height: 100% !important;
}

/****** Media Queries ******/

@media only screen and (min-width: 1026px) {
  .accordionIconContainer {
    display: none;
  }

  .submenuItemsContainer {
    padding: 1rem;
    overflow-y: auto;
    width: 75%;
  }

  .submenuItemsContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }

  .submenuItemsContainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .styledLink {
    font-size: 0.8125rem;
  }
}

@media only screen and (max-width: 1025px) {
  .menuContainerVertical {
    margin: unset;
  }

  .styledLinkContainer {
    margin: unset;
  }

  .menuItemVertical
    .styledLinkContainer:not(.submenuItem .styledLinkContainer) {
    padding-left: 1rem;
  }

  .menuItemVertical
    :global(.vtex-styleguide-9-x-jsFocusVisible)
    > div:first-child {
    padding-right: 1rem;
  }

  .menuItemVertical
    :global(.vtex-styleguide-9-x-jsFocusVisible)
    > div:last-child {
    padding: 0 1rem 0 3rem;
    background-color: #f7f9fa;
  }

  .menuItemVertical [aria-expanded='true'] .styledLinkText {
    font-weight: bold;
  }

  .menuItemVertical :global(.vtex__icon-caret-down),
  .menuItemVertical :global(.vtex__icon-caret-up) {
    display: block;
    height: 0.625rem !important;
  }

  .menuItemVertical :global(.vtex__icon-caret-down) path,
  .menuItemVertical :global(.vtex__icon-caret-up) path {
    display: none;
  }

  .menuItemVertical :global(.vtex__icon-caret-down) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0IDFhLjk5Ljk5IDAgMDAtLjcxOS4yODFMOCA2LjU2MyAyLjY4NyAxLjI4YS45NjQuOTY0IDAgMDAtMS40MDYgMCAuOTY0Ljk2NCAwIDAwMCAxLjQwN2w2IDZhLjk2NC45NjQgMCAwMDEuNDA3IDBsNi02YS45NjQuOTY0IDAgMDAwLTEuNDA3QS45Ny45NyAwIDAwMTQgMXoiIGZpbGw9IiNDQUNCQ0MiLz48L3N2Zz4=);
  }

  .menuItemVertical :global(.vtex__icon-caret-up) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0IDlhLjk5Ljk5IDAgMDEtLjcxOS0uMjgxTDggMy40MzhsLTUuMzEzIDUuMjhhLjk2NC45NjQgMCAwMS0xLjQwNiAwIC45NjQuOTY0IDAgMDEwLTEuNDA1bDYtNmEuOTY0Ljk2NCAwIDAxMS40MDcgMGw2IDZhLjk2NC45NjQgMCAwMTAgMS40MDZBLjk3Ljk3IDAgMDExNCA5eiIgZmlsbD0iIzNGM0Y0MCIvPjwvc3ZnPg==);
  }

  .styledLinkIconContainer,
  .menuItemIcon {
    margin-right: 0.75rem;
  }

  .submenuItem {
    margin-top: 0.75rem;
  }

  .submenuItem:first-child {
    margin-top: unset;
  }

  .submenuItem .styledLinkText {
    line-height: 1.25;
  }

  .collapsibleContent {
    margin: 1rem 0;
  }

  .seeAllLink {
    display: block;
    line-height: 1.25;
  }
}
