.submenuContainer {
  overflow: auto;
  max-height: 50vh;
  top: 100%;
  padding: 0 max(1.25rem, calc(50% - 49.5rem)) 3rem;
}

.submenuList {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.submenuList > .submenuItem {
  max-width: 200px;
}

.styledLink,
.goBackButton,
.triggerContainer {
  border: none;
  background: transparent;
  outline: transparent;
}

.hideArrow svg {
  display: none;
}

.menuItemIcon {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
  object-fit: contain;
}
