.menuContainer,
.submenuContainer {
  overflow: auto;
  max-height: 50vh;
}

.submenuContainer {
  display: flex;
}

.menuContainer {
  width: 300px;
}

.submenuList {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.submenuList > .submenuItem {
  max-width: 200px;
}

.styledLink,
.goBackButton,
.triggerContainer {
  border: none;
  background: transparent;
  outline: transparent;
}

.hideArrow svg {
  display: none;
}

.menuItemIcon {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
  object-fit: contain;
}
